* {
  box-sizing: border-box;
}

/* ---- General Styles ---- */
html {
  font-size: 16px;
}

body {
  font-family: 'Roboto', sans-serif;
  line-height: 1.4;
  background-color: white;
}

.container {
  max-width: 1500px;
  margin: 0 auto;
}

h1, h2, h3 {
  font-family: 'Open Sans', sans-serif;
  text-transform: uppercase;
  font-weight: 700;
} 

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
  padding-top: 2rem;
}

h3 {
  font-size: 1.2rem;
}

a {
  text-decoration: none;
  color: black;
}

/*-- Buttons -- */
 .cta,
 .btn {
  text-transform: uppercase;
  font-size: .8rem;
  font-weight: 700;
}

.cta {
  background-color: #6a898c; /* #ffae19;*/
  display: block;
  text-align: center;
  padding: 0.5rem 0;
  font-size: 1.3rem;
}

.cta:hover, 
.btn:hover {
  color: #ffae19;
  cursor: pointer;
}

/* -- Menu Nav Bar and Footer links --*/
.menu.desktop a,
.footer-items a {
  color: black;
  text-decoration: none;
  margin-right: 1rem;
}

.menu.desktop a:hover,
.footer-items a:hover {
  color:  #DD4A41;
}

/* ---- Desktop Navigation Bar ---- */
nav {
  width: 100%;
  position: fixed;
  font-family: 'Open Sans', sans-serif;
  color: black;
  font-weight: 800;
  background-color :#98C5C9;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 4rem;
  padding: 0 1.5rem;
}

.logo {
  display: flex;
  align-items: center;
}

.logo-text .colmar {
  color: #DD4A41;
}

nav.mobile {
  display: none;
}

/* ---- Mobile Navigation Bar ---- */
@media only screen and (max-width: 768px) { 
  nav.desktop {
    display: none; 
  }

  nav.mobile {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

/* ---- Banner Header ---- */
header {
  background-color: #e6edee;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
}

header img {
  max-width: 60%;
  height: auto;
  margin: 2rem 1.5rem;
}

.header-content {
  margin: 0 0.5rem;
  max-width: 40%;
}

.header-content h2 {
  padding-top: 0;
}

.header h3 {
  margin: 1.5rem 0;
  text-transform: none;
}

.header a {
  color: white;
}

/* ---- Supporting Info and Thesis Exhibit ---- */
.supporting {
  display: flex;
  flex-direction: row;
  margin-top: 2rem;
}

.supporting-intro {
  margin: 0 2rem 2rem 1.5rem;
  max-width: 60%;
}

.supporting-intro img {
  max-width: 100%;
  height: auto;
}

.supporting-intro h3{
  padding-top: 1.5rem;
}

.supporting-intro p {
  padding: 1.5rem 0 1.5rem 0;
}

/* --- Card Images for Mobile ---- */
.card img.mobile {
  display: none;
}
/* ------------------------------ */

.info-cards {
  border-left: 1px solid #f2f2f2;
  max-width: 40%;
}

.card {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 1rem;
  box-shadow: 0 2px 6px rgba(0,0,0,.1);
  cursor: default;
}

.second-card {
  margin: 0.5rem 0 0.5rem;
}

.card:hover {
  box-shadow: 0 6px 10px 0 rgba(5, 35, 49, 0.14), 0 1px 18px 0 rgba(5, 35, 49, 0.20);
}

.card img {
  max-width: 35%;
  height: auto;
}

.card-item {
  padding: 1rem;
}

.card-item p {
  padding: .5rem 0;
}

/* ---- Courses - Start Learning ---- */
.courses {
  background-color: #e6edee;
}

.courses h2 {
  text-align: center;
  padding-top: 2rem;
}

.main-courses {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 2rem 4rem;
}

.course-card {
  background-color: white;
  box-shadow: 0 2px 6px rgba(0,0,0,.2);
  max-width: 30%;
  margin: 1rem;
}

.course-card:hover {
  box-shadow: 0 6px 10px 0 rgba(5, 35, 49, 0.14), 0 1px 18px 0 rgba(5, 35, 49, 0.50);
}

.course-card img {
  height: auto;
  max-width: 100%;
}

.course-card img:hover {
  transition: .3s, ease-in-out;
}

.course-card span {
  font-size: 0.9rem;
  font-weight: 700;
}

.card-item h3 {
  margin-bottom: 8px;
}

/* ---- Thesis -- Look at Supporting Section ---- */
.thesis h2 {
  text-align: center;
}

.fisma {
  padding-top: 0;
}

video {
  width: 100%;
  height: auto;
  /*pointer-events: auto;
  cursor: 20 20,pointer;*/
}
/* ---- Footer ---- */
footer {
  background-color: #98C5C9;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2rem;
}

.copyright {
  font-size: 0.8rem;
  font-weight: 700;
}

.footer-items {
  font-weight: 900;
}